Source: ros-groovy-baxter-sdk
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://www.rethinkrobotics.com/sdk
Standards-Version: 3.9.2

Package: ros-groovy-baxter-sdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-baxter-common, ros-groovy-baxter-examples, ros-groovy-baxter-interface, ros-groovy-baxter-tools
Description: baxter_sdk metapackage containing all of the SDK packages for the Baxter Research Robot from Rethink Robotics.
